[submodule "api"]
	path = modules/arching-kaos-api
	url = https://github.com/kaotisk-hund/arching-kaos-api/.git
[submodule "radio"]
	path = modules/arching-kaos-radio
	url = https://github.com/kaotisk-hund/arching-kaos-radio/.git
[submodule "modules/docker-dat-store"]
	path = modules/docker-dat-store
	url = https://github.com/kaotisk-hund/docker-dat-store/.git
[submodule "modules/arching-kaos-generic"]
	path = modules/arching-kaos-generic
	url = https://github.com/kaotisk-hund/arching-kaos-generic/.git
[submodule "modules/arching-kaos-ssb"]
	path = modules/arching-kaos-ssb
	url = https://github.com/kaotisk-hund/arching-kaos-ssb/.git
[submodule "modules/arching-kaos-irc"]
	path = modules/arching-kaos-irc
	url = https://github.com/kaotisk-hund/arching-kaos-irc/.git
